@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  padding: 0;
  margin: 0;
}
.nav-button{
  @apply px-4 py-4 hover:bg-gray-300 hover:text-black float-left w-full border-none block outline-0 static
}
/* navbar open close effect */
.navbar-open{
  animation: 0.5s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: -200px;
  }
  to {
    margin-left: 0%;
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  z-index: 1;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* default for every section */
section{
  @apply md:ml-60 h-screen;
}
